
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.im1{
  height: 250px;
  width: 200px;
 margin: 50pX;  
}
.Nav{
  display: flex;
  font-size: large;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
  background-color: gray;
  width: 100%;
  color: white;
}


.whole{
  
  width: 100%;
  height: 100%;


}
.inner{
  /* display: flex; */
  justify-content: space-around;
  display: grid;
  grid-template-columns: 200px 200px 200px;

  
}

.Footer{
  display: flex;
  list-style:none;
  justify-content: space-around;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  background-color: gray;
  color: white;
  font-size: large;
  padding-top: 7px;
  

}
.photos{
  background-color:#e4e4e4;
  width: 100%;
  height: 750px;
  margin: -40px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.photos .photo{
  margin: 20px;
  width: 200px;
  height: 200px;
}
.photos .photo img{
  width: 00%;
  height: 10%;
  background-color: yellow;

}
body{
  background-color: #e4e4e4;
 
        
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  opacity: 0.65;
}
img:hover {
  opacity: 1.0;
}
.Time{
  text-align: center;
  font-size: medium;
  font-weight: bold;
  color: red;
}